*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body{
   font-family: 'Montserrat', sans-serif;
}

.container {
   width: 60%;
   margin: 0 auto;
   position: relative;
}

.imageBox {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   filter: brightness(.8);
}
/* FINE COMMON */


/* INIZIO HEADER */
header{
   margin-bottom: 25px
}
#logo {
   height: 40px;
   border-right: 1px solid lightgrey;
   padding:0px 10px 0px 0px;
   margin-bottom: 10px
}

/* INIZIO NAV */
nav li {
   display: inline;
}

nav li a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   margin-right: 5px;
   color: grey;
}
/* FINE NAV */
/* FINE HEADER */


/* INIZIO MAIN */

.mainBanner {
   width: 100%;
   height: 100%;
   border: 1px transparent solid;
   height: 350px;
   position: relative;
   margin-bottom: 25px;
}

.overlayText {
   color: white;
   width: 50%;
   padding: 0px 0px 50px 30px;
   display: inline;
   position: absolute;
   bottom: 0;
   left: 0;
}

.overlayTitle {
   font-size: 18px;
}

.overlayDesc{
   font-size: 10px;
}

.mainContentHeader {
   margin: 20px 0 20px 0;
}

.sideArticle {
   width: calc((100% / 5) - 10px);
}

.centerArticle {
   width: calc((100% / 5 * 3));
   margin: 0 10px 0 10px;
}

.sideArticle,
.centerArticle {
   float: left;
}

.mainContent::after {
content: ''; 
display: table;
clear: both;
}

.mainContent .imageBox{
   height: 140px
}

.mainContentHeader > h1 {
   font-size: 1.5em
}

.mainContentHeader > p{
   font-size: 10px;
   color: grey
}

.sideArticle > p:first-child, 
.centerArticle > p:first-child {
   font-size: 10px;
   margin-bottom: 5px;
}

.sideArticle > p:last-child, 
.centerArticle > p:last-child {
   font-size: 10px;
   color: grey
}
/* FINE MAIN */

/* INIZIO FOOTER */

footer {
   height: 20px;
   margin: 20px 0;
   text-align: center;
}

footer div {
   font-size: 10px;
   vertical-align: middle;
   line-height: 20px;
   font-weight: 600; /* Non era in grassetto ma ho voluto darglielo per esaltare il messaggio "Made with love" */
}

footer span {
   color: red;
   font-size: 16px;
   vertical-align: middle;
   line-height: 20px;
}
/* FINE FOOTER */





/* INIZIO DEBUG */

/* .debug {
   background: grey;
} */

/* .debug .container header {
   background: orange;
}

.debug .topBar {
   background: blue;
} */


/* FINE DEBUG */