*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

.container {
   width: 60%;
   margin: 0 auto;
}

/* FINE COMMON */


/* INIZIO HEADER */

/* FINE HEADER */


/* INIZIO MAIN */

/* FINE MAIN */


/* INIZIO FOOTER */

/* FINE FOOTER */









/* INIZIO DEBUG */

.debug {
   background: grey;
}

.debug .container {
   background: lightgrey;
}
/* FINE DEBUG */