*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

.container {
   width: 60%;
   margin: 0 auto;
}

/* FINE COMMON */


/* INIZIO HEADER */
#logo {
   height: 50px;
   border-right: 1px solid lightgrey;
   padding-right: 15px;
}

/* FINE HEADER */


/* INIZIO MAIN */

/* FINE MAIN */


/* INIZIO FOOTER */

/* FINE FOOTER */









/* INIZIO DEBUG */

.debug {
   background: grey;
}

.debug .container {
   background: orange;
}
/* FINE DEBUG */