*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body{
   font-family: 'Montserrat', sans-serif;
}

.container {
   width: 60%;
   margin: 0 auto;
}

/* FINE COMMON */


/* INIZIO HEADER */
#logo {
   height: 40px;
   border-right: 1px solid lightgrey;
   padding:0px 10px 0px 0px;
   margin-bottom: 10px
}
/* INIZIO NAV */
nav li {
   display: inline;
}

nav li a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   margin-right: 5px;
   color: grey;
}
/* FINE NAV */

/* FINE HEADER */


/* INIZIO MAIN */

/* FINE MAIN */


/* INIZIO FOOTER */

/* FINE FOOTER */









/* INIZIO DEBUG */

.debug {
   background: grey;
}

.debug .container {
   background: orange;
}

/* FINE DEBUG */