*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body{
   font-family: 'Montserrat', sans-serif;
}

.container {
   width: 60%;
   margin: 0 auto;
   position: relative;
}

.imageBox {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   filter: brightness(.8);
}
/* FINE COMMON */


/* INIZIO HEADER */
header{
   margin-bottom: 25px
}
#logo {
   height: 40px;
   border-right: 1px solid lightgrey;
   padding:0px 10px 0px 0px;
   margin-bottom: 10px
}

/* INIZIO NAV */
nav li {
   display: inline;
}

nav li a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   margin-right: 5px;
   color: grey;
}
/* FINE NAV */
/* FINE HEADER */


/* INIZIO MAIN */

.mainBanner {
   width: 100%;
   height: 100%;
   border: 1px transparent solid;
   height: 350px;
   position: relative;
   margin-bottom: 25px;
}

.overlayText {
   color: white;
   width: 50%;
   padding: 0px 0px 50px 30px;
   display: inline;
   position: absolute;
   bottom: 0;
   left: 0;
}

.overlayTitle {
   font-size: 18px;
}

.overlayDesc{
   font-size: 10px;
}

.mainContentHeader {
   margin: 20px 0 20px 0;
}

.sideArticle {
   width: calc((100% / 5) - 20px);
}

.centerArticle {
   width: calc((100% / 5 * 3));
   margin: 0 20px 0 20px;
}

.sideArticle,
.centerArticle {
   background:#ABCFE7;
   float: left;
}

.mainContent::after {
content: ''; 
display: table;
clear: both;
}
/* FINE MAIN */

/* INIZIO FOOTER */

/* FINE FOOTER */









/* INIZIO DEBUG */

.debug {
   background: grey;
}

.debug .container header {
   background: orange;
}

.debug .topBar {
   background: blue;
}


/* FINE DEBUG */